<!--Footer-->
<footer class="page-footer elegant-color-dark center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 class="small-title">ABOUT US</h6>
                <p class="small-text">
                    Uncode is a pixel perfect creative multiuse WordPress Theme designed with terrific attention to details, flexibility and
                    performance. It is ultra professional, smooth and sleek, with a clean modern layout for almost any needs.
                </p>
            </div>
            <div class="col-3">
                <h6 class="small-title">RECOMMENDED POSTS</h6>
                <ul class="list-unstyled">
                    <li class="small-text">Top Deehay Headphones</li>
                    <li class="small-text">Trust in your intuitions</li>
                    <li class="small-text">Awards best websites</li>
                    <li class="small-text">Inspired by clouds</li>
                    <li class="small-text">Working from your home?</li>
                </ul>
            </div>
            <div class="col-3">
                <h6 class="small-title">LATEST BLOG NEWS</h6>
            </div>
            <div class="col-3">
                <h6 class="small-title">TAGS</h6>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright:
            <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->