<div class="features-container p-5">
  <div class="features-bg">
      
  </div>
  <div class="features-content mx-auto w-75">
    <div class="text-center">
      <h2 class="font-weight-700 title">Main Features</h2>
      <p>Take the building of your WordPress website to a whole new level.</p>
    </div>
    <div class="d-flex align-content-center flex-wrap">
      <div class="col-6 col-md-3 col-lg-3 p-3" *ngFor="let feature of features">
        <h5>{{feature.title}}</h5>
        <p>{{feature.text}}</p>
      </div>
    </div>
  </div>
</div>
