<section class="section px-5 container-fluid">
  
          <!--Section heading-->
          <h2 class="section-heading  wow fadeIn h1-responsive my-5 animated rollIn">Not enough?</h2>
  
          <!--First row-->
          <div class="row features-small mb-5 mt-3 wow fadeIn" data-wow-delay="0.4s" style="animation-name: none; visibility: visible;">
  
              <!--First column-->
              <div class="col-md-4">
                  <!--First row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">Free personal and commercial use</h6>
                          <p class="grey-text">We want people to use MDB for any kind of projects - both private and commercial.
                          </p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/First row-->
  
                  <!--Second row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">900+ UI elements</h6>
                          <p class="grey-text">Great number of UI stuff useful in all kind of design</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Second row-->
  
                  <!--Third row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">600+ icons</h6>
                          <p class="grey-text">Details matter, so take full advantage of Font Awesome scalable icons.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Third row-->
  
                  <!--Fourth row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">Fully responsive</h6>
                          <p class="grey-text">You don't have to worry about the screen resolution of your visitors. All components and elements
                              will look stunning on any device.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Fourth row-->
              </div>
              <!--/First column-->
  
              <!--Second column-->
              <div class="col-md-4 mb-r">
                  <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/cards.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
              </div>
              <!--/Second column-->
  
              <!--Third column-->
              <div class="col-md-4 mt-2">
                  <!--First row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">70+ CSS animations</h6>
                          <p class="grey-text">One of the best ways to amaze your visitors is to add some stunning animations.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/First row-->
  
                  <!--Second row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">Tutorials</h6>
                          <p class="grey-text">It doesn't matter if you're a total newbie - our tutorials will learn you how to deal with this technology.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Second row-->
  
                  <!--Third row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">Easy installation</h6>
                          <p class="grey-text">You don't have to spend a whole day to set up. You can do it in less than 5 minutes.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Third row-->
  
                  <!--Fourth row-->
                  <div class="row wow fadeIn" style="animation-name: none; visibility: visible;">
                      <div class="col-2">
                          <i class="fa fa-check-circle indigo-text"></i>
                      </div>
                      <div class="col-10">
                          <h6 class="feature-title">Easy to use and customize</h6>
                          <p class="grey-text">Customization doesn't have to be annoying. In MDB is pure pleasure.</p>
                          <div style="height:15px"></div>
                      </div>
                  </div>
                  <!--/Fourth row-->
              </div>
              <!--/Third column-->
  
          </div>
          <!--/First row-->
  
      </section>