<div class="m-5">
    <ngb-tabset justify="center">
        <ngb-tab title="MANIFESTO">
            <ng-template ngbTabContent>
                <p>In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy
                    before the design starts. Needless to say it’s very important, content is king and people are beginning
                    to understand that. However, back over in reality some project schedules and budgets don’t allow for
                    web copy to be written before the design phase.</p>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="VISON">
            <ng-template ngbTabContent>
                <p>
                    We’re here to help, we’ve written examples of web copy for over 40 industries for you to use at concept phase of your projects
                    to bring a little life and realism to your designs and help you think about who and what you are designing
                    for. We want clients and designers alike to think about their design and how it will work with the web
                    copy.
                </p>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="MISSION">
            <ng-template ngbTabContent>
                <p>In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy
                    before the design starts. Needless to say it’s very important, content is king and people are beginning
                    to understand that. However, back over in reality some project schedules and budgets don’t allow for
                    web copy to be written before the design phase.</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>