<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand animated bounce infinite" routerLink="/">
    <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
  </a>
  <div class="btn-group " dropdown>
      <button dropdownToggle type="button" class="btn-sm btn-dark dropdown-toggle waves-light" mdbRippleRadius>
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
  
      <div class="dropdown-menu dropdown-right animated slideInDown">
          <a class="dropdown-item" routerLink="/">Home</a>
          <a class="dropdown-item" routerLink="/services">Services</a>
          <a class="dropdown-item" routerLink="/contact">Contact</a>
          <a class="dropdown-item" routerLink="/about">About</a>
      </div>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>

    </ul>
  </div>
</nav>


