<div class="p-3 container-fluid text-white bg-dark sticky-top submenu">
    <ul class="list-inline m-0 d-flex justify-content-center">
        <li class="list-inline-item mx-5">Classic</li>
        <li class="list-inline-item mx-5">Creative</li>
        <li class="list-inline-item mx-5">Portfolio</li>
        <li class="list-inline-item mx-5">Blog</li>
        <li class="list-inline-item mx-5">Shop</li>
        <li class="list-inline-item mx-5">Top Menu</li>
    </ul>
</div>

<section class="p-2" style="overflow:hidden">

    <div class="row mb-2">

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg" alt="A view on mountains." class="img-fluid wow bounceInUp"
                style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(32).jpg" alt="Cottage on a lake surrounded by mountains."
                class="img-fluid wow tada" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Cyclist riding down the mountain path."
                class="img-fluid wow fadeInLeft" style="animation-name: none; visibility: visible;">
        </div>

    </div>

    <div class="row mb-2">

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="View on mountains from mountain top."
                class="img-fluid wow fadeInRight" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg" alt="Rocky shore in the morning." class="img-fluid wow fadeInUp"
                data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Rocky shore in the morning." class="img-fluid wow fadeInUp"
                data-wow-delay="0.6s" style="animation-name: none; visibility: visible;">
        </div>

    </div>
    <div class="row mb-2">

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg" alt="A view on mountains." class="img-fluid wow bounceInUp"
                style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(32).jpg" alt="Cottage on a lake surrounded by mountains."
                class="img-fluid wow tada" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Cyclist riding down the mountain path."
                class="img-fluid wow fadeInLeft" style="animation-name: none; visibility: visible;">
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="View on mountains from mountain top."
                class="img-fluid wow fadeInRight" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg" alt="Rocky shore in the morning." class="img-fluid wow fadeInUp"
                data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">
        </div>

        <div class="col-md-4">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Rocky shore in the morning." class="img-fluid wow fadeInUp"
                data-wow-delay="0.6s" style="animation-name: none; visibility: visible;">
        </div>

    </div>

</section>
<!-- 
          <div class="card-deck">
            <div class="col-md-4 col-sm-12" *ngFor = "let card of cards">
              <div class="card " >
                <img class="card-img-top" [src]="card.imgUrl"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">{{card.title}}</h4>
                  <p class="card-text">{{card.text}}</p>
                  <p class="card-text">
                    <small class="text-muted">{{card.textMuted}}</small>
                  </p>
                </div>
              </div>
            </div> -->